*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header
{
    background-color: rgb(214, 116, 147);
    display: flex;
    height: auto;
    width: auto; 
    
}

.header h1
{
    color:black;
    font-size: 18px;  
    font-family: sans-serif;
    padding: 9px;
    margin: 0 10px;  

}

.nav {
  margin: auto;         
  display: flex;
  gap: 28px;   
  padding: 3px;
}

.nav a
{
    color:white;
    font-size: 20px;   
    text-decoration: none;  
} 

.nav a:hover
{
  color:rgb(5, 4, 19);
  
}

/*Search Box*/
.search-box input 
{
    padding: 10px;
    width: 250px;
    height: 30px;
    display: inline;
}
.like:hover
{
    text-decoration: none;
}
.like:hover 
{
  transform: scale(1.2);
  transition: 0.3s;

}

.contact {

  background-color: rgb(234, 232, 234);
  justify-content: center;
  display: flex;
  min-height: 100vh;             
  padding: 40px;
}

.contact form
{
     background-color: rgb(211, 209, 217);
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 600%;
}

.contact h2
{
    text-align: center;
    color: rgb(18, 0, 0);
    font-size: 30px;
    font-family: sans-serif;
}
.contact form input, .contact form textarea
{
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 10px;
}
.contact form input
{
    height: 20px;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
}
.contact form label
{
    color: rgb(5, 1, 1);
    font-size: 18px;
    font-family: sans-serif;
    margin: 8px;
}
.btn input[type="submit"]
{
    background-color:rgb(87, 87, 230);
    align-items: center;
    height:50%;
    width: 30%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.contact .btn input:hover
{
    background-color: rgb(22, 218, 35);
    
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact {
    padding: 20px;
  }

  .contact h2 {
    font-size: 24px;
  }
}

