*{
    margin: 0;
    padding: 0;
   
}
.home a
{
    color: rgb(191, 11, 11);
    text-decoration: none;
    font-size: 55px;
    text-align: left;
}

.login-form{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.login-form a
{
    color: rgb(115, 2, 2);
    text-decoration: none;
    font-size: 45px;
    text-align: left;
}
.login-form a:hover
{
    color: rgb(3, 0, 0);

}
.form
{   padding: 20px;
    background-color: rgb(165, 165, 183);
    width: 800px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.form h2
{
    text-align: center;
    padding: 20px;
    color: rgb(43, 5, 138);
}
.form label
{
    padding: 0px;
    font-size: 20px;
    color: rgb(1, 0, 2);
}
.form input
{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}
.btn-group{
  display: flex;
  gap: 10px;   /* space b/w two element */
}

/*submit and reset button*/
.form input[type="submit"],
.form input[type="reset"]{
  width: 100%;
  padding: 10px;
  background-color: blue;
  margin: 0 50px;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.form input[type="submit"]:hover,
.form input[type="reset"]:hover
{
  background-color: rgb(204, 23, 23);
}

/*register button*/
.form button{
  width: 100%;
  margin-top: 15px;
  height: 50px;
  background-color: rgb(13, 1, 1);
  color: white;
  font-size: 18px;
  border: none;
}

.form button:hover{
  background-color: rgb(208, 104, 164);
}
/*Responsive*/
@media (max-width: 600px){
  .home a{
    font-size: 28px;
  }
  .login-form a{
    font-size: 22px;
  }
}
